.jumbotron {
    background-color: rgb(171, 139, 185);
    color: black;
    margin-top: 50px;
}
.tab-content{
    padding-top: 10px;
}
footer{
    padding: 15px 15px 0 10px;
    background-color: rgb(137, 138, 219);
    margin-bottom: 0px;
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px
}
.btn-reserva{
    width: 100%;
    border-radius: 0;
}
.footer-address-icon{
    padding-right: 10px;
}