@yellow: #b6c908;
.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}
  
  .tab-content {
    padding-top: 10px; }
  
  footer {
    padding: 15px 15px 0 10px;
    background-color:@yellow;
    .margenes(10px, 0px);
}
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0; }
  
  .footer-address-icon {
    padding-right: 10px; }
  