$yellow: #afff22;
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron {
    background-color:$yellow;
    color: black;
    @include margenes(50px, 0px);
}
.tab-content{
    padding-top: 10px;
}
footer{
    padding: 15px 15px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}
.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0;
}
.footer-address-icon{
    padding-right: 10px;
}